*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: white;
}

.container{
  height: auto;
 
}

.nav-logo img{
  width: 100px;
  margin: 15px;
}

.nav-center-filter li{
  margin: 15px;
  display: inline-block;
}

.nav-center-filter li:hover{
  color: red;
}


.nav-search input{
  margin: 15px;
  border: none;
}

.nav-search button{
  margin: 15px;
  border: none;
  font-size: 20px;
}


.searchbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie-container{
  width: 130px;
  height: 200px;
  margin: 15px;
  position: relative;
}

.contain{
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  
}
 .poster-image{
  width: 130px;
  height: 200px;
}

.content-text{
  width: 150px;
  height: 200px;
  position: absolute;
  top: 0%;
  opacity: 0.8;
  font-size: 18px;
  display: none;
  overflow-x: auto;
}
 .movie-container:hover .content-text{
   display: block;
 }

h2, h3 , .language , p,
.vote{
  font-size: 20px;
}

span  .fa-star{
  color: rgb(177, 177, 9);
}

.flag{
  width: 20px;
  border-radius: 50%;
}