*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 1200px;
  height: auto;
 
}

.searchbar h1{
  color: red;
  display: inline-block;
}

.searchbar{
  margin: 15px;
}

.movie-container{
  width: 150px;
  height: 300px;
  border: 1px solid black;
  margin: 15px;
  background-color: dimgray;
}

.contain{
  display: flex;
  flex-wrap: wrap;
}

h2, h3 , .language ,
.vote{
  font-size: 20px;
}

span  .fa-star{
  color: rgb(177, 177, 9);
}