*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: floralwhite;
}

.container{
  max-width:;
  height: auto;
}

.nav-logo img{
  width: 100px;
  margin: 15px;
}

.nav-center-filter{
  border: 1px solid #fff;
  width: 300px;
}

.nav-search input, button{
  margin: 15px;
  border: none;
  font-size: 20px;
}

.searchbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie-container{
  width: 130px;
  height: 200px;
  margin: 15px;
  position: relative;
}

.contain{
  display: flex;
  flex-wrap: wrap;
  
}
 .poster-image{
  width: 130px;
  height: 200px;
}

.content-text{
  width: 150px;
  height: 300px;
  position: absolute;
  top: 0%;
  opacity: 0.5;
  font-size: 20px;
  display: none;
}
 .movie-container:hover .content-text{
   display: block;
 }

h2, h3 , .language ,
.vote{
  font-size: 20px;
}

span  .fa-star{
  color: rgb(177, 177, 9);
}

.flag{
  width: 20px;
  border-radius: 50%;
}