<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
      <!-- Creare un layout base con una searchbar (una input e un button) in cui possiamo
           scrivere completamente o parzialmente il nome di un film. Possiamo, cliccando il
           bottone, cercare sull’API tutti i film che contengono ciò che ha scritto l’utente.
           Vogliamo dopo la risposta dell’API visualizzare a schermo i seguenti
           valori per ogni film trovato:-->
         
      <div id="app" class="container">
        <header>
          <!-- inizio search bar -->
          <nav class="searchbar">
            <div class="nav-logo">
              <img src="https://image.tmdb.org/t/p/w342/wwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="">
            </div>
            <div class="nav-center-filter"></div>
            <div class="nav-search">
              <button type="button" @click='search'><i class="fa fa-search" aria-hidden="true"></i>
              <input v-model='movie' name="search"  @keyup.enter='search' value="">
              </button>
            </div>
          </nav>
          <!-- fine search bar -->
        </header>

        <main class="contain">
           <!-- inizio container film e serie tv  -->
          <div class="movie-container" v-for='movie in resultLauncher'>
            <img class="poster-image"  v-if="movie.poster_path" :src="getPoster(movie)" alt="">
            <img class="poster-image" v-else='' src="./img/poster-null.png" alt="">
            <span class="content-text"> 
              <h5>{{movie.original_title}} {{movie.original_name}}</h5>
              <p>{{movie.overview}}</p> <!-- Titolo Originale-->
              <i class="fa fa-star" v-for='index in vote(movie.vote_average)'></i> <!-- Voto stelle piene-->
              <i class="fa fa-star-o" v-for='index in (5 - vote(movie.vote_average))'></i><!-- Voto stelle vuote-->
              <img class="flag" :src="'./img/' + movie.original_language + '.svg'" alt="">
            </span>
          </div>
          <!-- fine container film e serie tv -->
        </main>
        

      </div>


        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
