<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
      <!-- Creare un layout base con una searchbar (una input e un button) in cui possiamo
           scrivere completamente o parzialmente il nome di un film. Possiamo, cliccando il
           bottone, cercare sull’API tutti i film che contengono ciò che ha scritto l’utente.
           Vogliamo dopo la risposta dell’API visualizzare a schermo i seguenti
           valori per ogni film trovato:
          1 Titolo
          2 Titolo Originale
          3 Lingua
          4 Voto -->
      <div id="app" class="container">

        <div class="searchbar">
          <input v-model='movie' name="search"  @keyup.enter='search' value="">
          <button type="button" @click='search'>Search</button>
        </div>

        <div class="movie-container" v-for='movie in movieList'>
          <h2>{{movie.title}}</h2> <!-- Titolo-->
          <h3>{{movie.original_title}}</h3> <!-- Titolo Originale-->
          <span class="language">{{movie.original_language}}</span> <!-- Lingua-->
          <span class="vote">{{movie.vote_average}}</span> <!-- Voto-->
        </div>
        

      </div>


        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
