<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
      <!-- Creare un layout base con una searchbar (una input e un button) in cui possiamo
           scrivere completamente o parzialmente il nome di un film. Possiamo, cliccando il
           bottone, cercare sull’API tutti i film che contengono ciò che ha scritto l’utente.
           Vogliamo dopo la risposta dell’API visualizzare a schermo i seguenti
           valori per ogni film trovato:
          1 Titolo
          2 Titolo Originale
          3 Lingua
          4 Voto -->
      <div id="app" class="container">

        <div class="searchbar">
          <img src="https://image.tmdb.org/t/p/w500/wwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="">
          <input v-model='movie' name="search"  @keyup.enter='search' value="">
          <button type="button" @click='search'>Search</button>
        </div>

        <div class="contain">

          <div class="movie-container" v-for='movie in resultLauncher'>
            <!-- <span class="poster_image" style="background-image: url('http://image.tmdb.org/t/p/w500/'+ movie.poster_path)"></span> -->
            <img class="poster_image" :src="'http://image.tmdb.org/t/p/w500/'+ movie.poster_path" alt="">
            <h2>{{movie.title}}</h2> <!-- Titolo-->
            <h3>{{movie.original_title}} {{movie.original_name}}</h3> <!-- Titolo Originale-->
            <span>  <!-- Voto-->
              <i class="fa fa-star" v-for='index in vote(movie.vote_average)'></i> 
              <i class="fa fa-star-o" v-for='index in (5 - vote(movie.vote_average))'></i>
            </span>
            <img class="flag" :src="'./img/' + movie.original_language + '.svg'" alt="">
          </div>
        </div>
        

      </div>


        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
